@import "variables";

.node {
  width: 20px;
  height: 20px;
  border-left: 1px solid #d3d3d3;

  &:last-of-type {
    border-right: 1px solid #d3d3d3;
  }
  cursor: pointer;

  &.isWall {
    animation: wallAnimation 200ms linear forwards;
  }

  &.isStart {
    background: green !important;
  }

  &.isTarget {
    background: red !important;
  }

  &.back-track {
    // animation: backTrackAnimation 500ms ease-in-out forwards;
    background: yellow;
  }

  &.visited {
    animation: visitedAnimation 500ms ease-in-out forwards;
  }

  &:hover {
    background: $main-dark;
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    background: $main-light-blue;
  }
  100% {
    transform: scale(1);
    background: $main-dark;
  }
}

@keyframes visitedAnimation {
  0% {
    clip-path: circle(0% at 50% 50%);
    background: lime;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    background: cyan;
  }
}

@keyframes backTrackAnimation {
  0% {
    background: cyan;
  }
  100% {
    background: yellow;
  }
}
