@import "variables";

.node {
  width: 25px;
  height: 25px;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;

  &:last-of-type {
    border-right: 1px solid #d3d3d3;
  }
  cursor: pointer;

  &.isWall {
    // background: $main-dark !important;
    animation: wallAnimation 500ms ease-out forwards !important;
  }
  // &.isWal-anim {
  //   animation: wallAnimation 500ms ease-out forwards !important;
  // }

  &.isWeigt {
    background: purple !important;
  }

  &.isStart {
    // animation: startNode 200ms linear forwards !important;
    background: green !important;
  }

  &.isTarget {
    // animation: targetNode 200ms linear forwards !important;
    background: red !important;
  }

  &.back-track {
    // animation: backTrackAnimation 500ms ease-in-out forwards;
    background: yellow;
  }

  &.visited {
    background: cyan;
  }

  &.visited-anim {
    animation: visitedAnimation 1000ms ease-out forwards;
  }

  &:hover {
    background: $main-dark;
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    background: $main-light-blue;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background: $main-dark;
    border-color: $main-dark;
  }
}

@keyframes visitedAnimation {
  0% {
    clip-path: circle(0% at 50% 50%);
    background: lime;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    background: cyan;
  }
}

@keyframes backTrackAnimation {
  0% {
    background: cyan;
  }
  100% {
    background: yellow;
  }
}

@keyframes startNode {
  0% {
    transform: scale(0);
    background: green;
  }
  100% {
    transform: scale(1);
    background: green;
  }
}

@keyframes targetNode {
  0% {
    transform: scale(0);
    background: red;
  }
  100% {
    transform: scale(1);
    background: red;
  }
}
