.node {
  width: 25px;
  height: 25px;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}

.node:last-of-type {
  border-right: 1px solid #d3d3d3;
}

.node.isWeigt {
  background: purple !important;
}

.node.isStart {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 16 16'> <g fill='%2355d99b'> <path fill-rule='evenodd' d='M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z'/> <path fill-rule='evenodd' d='M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416c.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08c.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416c-.833 0-1.218.246-2.223.916A.5.5 0 0 1 3.5 9V3a.5.5 0 0 1 .223-.416l.04-.026z'/></g></svg>") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.node.isStart:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 16 16'> <g fill='%2355d99b'> <path fill-rule='evenodd' d='M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z'/> <path fill-rule='evenodd' d='M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416c.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08c.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416c-.833 0-1.218.246-2.223.916A.5.5 0 0 1 3.5 9V3a.5.5 0 0 1 .223-.416l.04-.026z'/></g></svg>") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.node.isTarget {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 512 512'> <path d='M256 0Q150 0 75 75T0 256t75 181t181 75t181-75t75-181t-75-181T256 0zm0 469q-88 0-150.5-62.5T43 256t62.5-150.5T256 43t150.5 62.5T469 256t-62.5 150.5T256 469zm0-362q-62 0-105.5 43.5T107 256t43.5 105.5T256 405t105.5-43.5T405 256t-43.5-105.5T256 107zm0 256q-45 0-76-31t-31-76t31-76t76-31t76 31t31 76t-31 76t-76 31zm43-107q0 18-12.5 30.5T256 299t-30.5-12.5T213 256t12.5-30.5T256 213t30.5 12.5T299 256z' fill='%23ff0000' /></svg>") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.node.isTarget:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 512 512'> <path d='M256 0Q150 0 75 75T0 256t75 181t181 75t181-75t75-181t-75-181T256 0zm0 469q-88 0-150.5-62.5T43 256t62.5-150.5T256 43t150.5 62.5T469 256t-62.5 150.5T256 469zm0-362q-62 0-105.5 43.5T107 256t43.5 105.5T256 405t105.5-43.5T405 256t-43.5-105.5T256 107zm0 256q-45 0-76-31t-31-76t31-76t76-31t76 31t31 76t-31 76t-76 31zm43-107q0 18-12.5 30.5T256 299t-30.5-12.5T213 256t12.5-30.5T256 213t30.5 12.5T299 256z' fill='%23ff0000' /></svg>") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.node.isWall {
  background: #2d2e40;
  -webkit-animation: wallAnimation 500ms ease-out forwards;
          animation: wallAnimation 500ms ease-out forwards;
}

.node.back-track {
  background: #fff500;
  border-color: #fff500;
}

.node.visited {
  background: #0dfcb5;
}

.node.visited-anim {
  -webkit-animation: visitedAnimation 1000ms ease-out forwards;
          animation: visitedAnimation 1000ms ease-out forwards;
}

.node:hover {
  background: #2d2e40;
}

.node:focus {
  outline: none;
}

@-webkit-keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    background: #55d99b;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2d2e40;
    border-color: #2d2e40;
  }
}

@keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    background: #55d99b;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2d2e40;
    border-color: #2d2e40;
  }
}

@-webkit-keyframes visitedAnimation {
  0% {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
  }
  20% {
    background: #000cfa;
  }
  40% {
    background: #0955d9;
  }
  60% {
    background: #00a0f0;
  }
  80% {
    background: #0bd2d9;
  }
  100% {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
    background: #0dfcb5;
  }
}

@keyframes visitedAnimation {
  0% {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
  }
  20% {
    background: #000cfa;
  }
  40% {
    background: #0955d9;
  }
  60% {
    background: #00a0f0;
  }
  80% {
    background: #0bd2d9;
  }
  100% {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
    background: #0dfcb5;
  }
}

@-webkit-keyframes backTrackAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    background: yellow;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: yellow;
    border-color: yellow;
  }
}

@keyframes backTrackAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    background: yellow;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: yellow;
    border-color: yellow;
  }
}

@-webkit-keyframes startNode {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background: green;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: green;
  }
}

@keyframes startNode {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background: green;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: green;
  }
}

@-webkit-keyframes targetNode {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background: red;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: red;
  }
}

@keyframes targetNode {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background: red;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: red;
  }
}

.navbar {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2d2e40;
  position: relative;
}

.navbar__logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #fff;
  font-size: 20px;
}

.nav-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.nav-list__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__item button {
  width: 100%;
  height: 100%;
  padding: 0px 25px;
  font-size: 12px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-list__item button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.nav-list__item button#visualize-btn {
  background: #0dfcb5;
  color: #2d2e40;
}

.nav-list__item button#visualize-btn:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  background: #0dfcb5 !important;
  background: rgba(0, 0, 0, 0.5);
}

.nav-list__item button#visualize-btn.disabled {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  cursor: initial;
}

.nav-list__item button#visualize-btn:focus {
  outline-color: #2d2e40;
}

.nav-list__item select {
  height: 100%;
  padding: 0px 25px;
  font-size: 12px;
  cursor: pointer;
  background: #2d2e40;
  border: none;
  color: #fff;
}

.nav-list__item select:hover {
  background: rgba(0, 0, 0, 0.5);
}

.grid__wrapper {
  width: 100%;
  height: calc(100% - 7vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__wrapper {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row:first-of-type {
  border-top: 1px solid #d3d3d3;
}
/*# sourceMappingURL=styles.css.map */